.main {
    margin: 5px 20px;
    background-color: #FFFFFF;
}

.title {
    font-size: 36px;
    margin: 10px;
}

.article {
    text-align: justify;
    font-size: larger;
    margin: 10px 20px 20px;
}